    {{#if derniersResultats}}
      {{#each derniersResultats}}
      <div id="wrapper">
        <div id="derniersResultats">
          <p>DERNIERS RESULTATS</p>
          <p>{{this.gpnom}} du {{this.gpdate}}</p>
          <p>Mise à jour le: {{this.gpdatemaj}}</p>
          <a href="/resultats/{{this.gpnum}}">Voir les résultats</a>
        </div>
      </div>
      {{/each}}
    {{/if}}
