<!-- <h1>Formulaire pour essayer de faire des choses avec des hr</h1>
<p>Passer le curseur sur le champ pour admirer une animation css (qui ne fonctionne pas comme prévu)</p>
<div class="hr-bgswag">
<input type="field" id="test123">
<hr />
</div> -->
