    body {
    	font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    	background: url('/image/fond.jpg') repeat;
		  font-size:0.8em;
    	margin: 0;
    	padding: 0;
    	text-align: center;
    	color: #000000;
    }
    .monBody #container {
    	width: 900px;
    	margin: 0 auto;
    	text-align: left;
    	background:#ffffff;
    }
    .monBody #header {
		    height:300px;
    }
	.monBody #menu {
		height:22px;
		color:#ffffff;
		font-size:1.4em;
		background:#000000;
    }
  .monBody #contenu {
		 padding:20px;
    }
    .monBody #footer {
    padding: 0 10px;
		font-size:0.8em;
		text-align:center;
		height:150px;
		background:url(/image/footer.jpg) no-repeat;
    }
	#menu a	{
		color:#ffffff;
		text-decoration:none;
	}
  #menu {
    text-align: center;
  }
  #LogoNode {
      padding-top: 10px;
      max-height: 20%;
      max-width: 20%;
  }
  .tabpayscir  {
 	  float:right;
 	  padding:10px;
 	  border:1px solid black;
 	  margin:10px;
    position: relative;
 	  -moz-border-radius:15px;
 	  border-radius:15px;
 }

 .tabpayscir img{
   position: relative;
   top: 10px;
   width: 32px;
   height: 32px;
 }

 .myboth  {
 	  clear:both;
 }
 a  {
 	text-decoration:none;
 	color:#0072ff;
 }
 .pilote-wrapper img{
   width: 100px;
   height: 100px;
 }

 .pilote-wrapper{
   margin: 0 auto;
   text-align: center;
   display: inline-block;
   width: 150px;
 }
 #footer hr{
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0));
 }

 .circuitimg{
   width: 250px;
   height: 250px;
 }

 .inline p{
   width: 500px;
 }

 /* ZONE DE TEST */
/*
 #test123{
   width: 160px;
 }

 .hr-bgswag{
   text-align: center;
   width: 166px;
 }

 .hr-bgswag hr{
   margin-top: 0px;
   border: 0;
   height: 2px;
   background-image: linear-gradient(to right, rgba(42,173,222,.76), rgb(1,144,214), rgba(42,173,222,.76));
   width: 0;
   max-width: 166px;
   transition: width 2s linear;
 }

 .hr-bgswag:hover hr{
   width: 160px;
 }
*/
