<h1>Ajouter une écurie</h1>
<form method="POST" enctype="multipart/form-data">
	<div class="form-style">
		<div class="input-style">
			<label for="nom">Nom: </label>
			<input name="nom" pattern="[A-Za-z,-, ]*" required>
		</div>
		<div class="input-style">
			<label for="directeur">Directeur: </label>
			<input name="directeur" pattern="[A-Za-z,-, ]*" required>
		</div>
		<div class="input-style">
			<label for="adrsiege">Adresse du siège: </label>
			<input name="adrsiege" pattern="[A-Za-z,-, ,0-9]*" required>
		</div>
		<div class="input-style">
			<label for="points">Points: </label>
			<input name="points" pattern="[0-9]*" required> pts
		</div>
		<div class="input-style">
			<label for="pays">Pays: </label>
			<select name="pays">
				{{#if listePays}}
					{{#each listePays}}
					<option value="{{this.paynum}}"> {{this.paynom}} </option>
					{{/each}}
				{{/if}}
			</select>
		</div>
		<div class="input-style">
			<label for="image">Image:</label>
			<input type="file" name="image" required/>
		</div>
	</div>
	<div class="centermydiv">
		<input type="submit" value="Ajouter" class="button-style">
	</div>
</form>
