<script src="/js/datePicker.js"></script>
<div class="centermydiv">
	<h1>Ajouter un pilote</h1>
</div>
<form method="POST" enctype="multipart/form-data">
	<div class="form-style">
		<div class="input-style">
			<label for="prenom">Prénom: </label>
			<input name="prenom" pattern="[A-Za-z,-, ]*" required>
		</div>
		<div class="input-style">
			<label for="nom">Nom: </label>
			<input name="nom" pattern="[A-Za-z,-, ]*" required>
		</div>
		<div class="input-style">
			<label for="datenais">Date de naissance: </label>
			<input name="datenais" pattern="[0-3][0-9]/[0,1][0-9]/[0-9]{4}" class="datepicker" required>
		</div>
		<div class="input-style">
			<label for="nationalite">Nationalité: </label>
			<select name="nationalite">
				{{#if listeNationalite}}
					{{#each listeNationalite}}
						<option value="{{this.paynum}}"> {{this.paynat}} </option>
					{{/each}}
				{{/if}}
			</select>
		</div>
		<div class="input-style">
			<label for="ecurie">Ecurie: </label>
			<select name="ecurie">
				{{#if listeEcurie}}
				{{#each listeEcurie}}
				<option value="{{this.ecunum}}"> {{this.ecunom}} </option>
				{{/each}}
				{{/if}}
			</select>
		</div>
		<div class="input-style">
			<label for="image">Image: </label>
			<input type="file" name="image" required/>
		</div>
		<div class="input-style">
			<label for="points">Points: </label>
			<input name="points" pattern="[0-9]*" required> pts
		</div>
		<div class="input-style">
			<label for="poids">Poids: </label>
			<input name="poids" pattern="[0-9,.]*" required> kg
		</div>
		<div class="input-style">
			<label for="taille">Taille: </label>
			<input name="taille" pattern="[0-9]*" required> cm
		</div>
		<div class="input-style">
			<label for="description">Description: </label>
			<textarea rows="2" cols="40" name="description"></textarea>
		</div>
	</div>
	<div class="centermydiv">
		<input type="submit" value="Ajouter" class="button-style">
	</div>
</form>
