<script src="/socket.io/socket.io.js"></script>
<script src="js/dynamic.js"></script>
<h1>Sponsors</h1>
<div class="warning">Cette page nécessite JavaScript pour fonctionner.</div>
<table class="tablestyle">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Secteur d'activité</th>
      <th>Action</th>
      <th class="hidden">ID<th>
    </tr>
  </thead>
  <tbody name="table-start">
    {{#if listeSponsors}}
    {{#each listeSponsors}}
    <tr>
      <td>{{this.sponom}}</td>
      <td>{{this.sposectactivite}}</td>
      <td>
        <a href="#table-start">
          <img src="image/act_delete.png" class="supprimer" alt="supprimer" title="Supprimer"/>
        </a>
      </td>
      <td class="hidden">{{this.sponum}}</td>
    </tr>
    {{/each}}
    {{/if}}
  <tr>
    <td>
      <input name="sponom" id="sponom" required>
    </td>
    <td>
      <input name="sposectactivite" id="sposectactivite" required>
    </td>
    <td name="table-end">
      <a href="#table-end">
        <img src="image/act_add.png" class="ajouter" alt="ajouter" title="Ajouter"/>
      </a>
    </td>
    <td class="hidden"></td>
  </tr>
</tbody>
</table>
<br class="myboth" />
