<div class="centermydiv">
    <img src="image/cat_resultat.png" alt="une coupe">
    <h1>Résultats</h1>
    <form method="post">
        <div class="spacer">Sélectionner un grand prix :</div>
        <select name="grandprix">
            {{#if listeGrandPrix}}
                {{#each listeGrandPrix}}
                    <option value="{{this.gpnum}}">{{this.gpnom}}</option>
                {{/each}}
            {{/if}}
        </select>
        <input type="submit" value="Valider">
    </form>
</div>
<br class="myboth" />
