<div class="centermydiv">
    <h1>Administration</h1>
    {{#if login}}
    <p class="error">At least you tried</p>
    {{/if}}
    <form method="post" action="/login">
        <div class="form-style">
            <div class="input-style">
                <label for="login">Login: </label>
                <input name="login">
            </div>
            <div class="input-style">
                <label for="passwd">Mot de passe: </label>
                <input type="password" name="passwd">
            </div>
        </div>
        <div class="centermydiv">
            <input type="submit" value="Connexion" class="button-style">
        </div>
    </form>
</div>
